.input-file-img {
  display: inline-block;

  .input-file input {
    opacity: 0;
    position: absolute;
    top: 40px;
    width: 124px;
    height: 124px;
    left: 120px;
  }
  img {
    position: relative;
    top: 0;
    left: 0;
  }
}
